{% extends "layout.html" %} 
{% load i18n %}

{% block content %}

<h1>Management actions</h1>

<ul>
	<li><a href="/neumadmin/manager/config/">Global configuration</a></li>
  <li><a href="/neumadmin/auth/user/">Management of users (create/remove users)</a></li>
  <li><a href="/neumadmin/manager/person/">Management of persons</a></li>
  <li><a href="/neumadmin/manager/corpus/">Management of corpus (create/remove corpora)</a></li>
  <li><a href="/neumadmin/manager/opus/">Management of opus</a></li>
  <li><a href="/neumadmin/manager/analyticmodel/">Management of analytic models </a></li>
  <li><a href="/neumadmin/manager/upload/">Management of uploads (create/remove ZIP files)</a></li>
</ul>

<h1>Other actions</h1>
<ul>
  <li><a href="{% url 'manager:corpora'  %}">List of corpora</a></li>
  <li><a href="{% url 'manager:imports'  %}">List of import files</a></li>
  <li><a href="{% url 'manager:load_images'  %}">Load images from data/imgs</a></li>
  <li><a href="{% url 'manager:list_images'  %}">List of images</a></li>
</ul>

{% endblock content %}