{% extends "layout.html" %} 
{% load i18n %} 

{% load crispy_forms_tags %}

{% block content %}

<p>
<b>{{message}}</b></p>

{{ mForm.errors}}

{% if mode == 'insert' %}
<p>
Adding an opus in corpus
 <a    href="{% url 'home:corpus' corpus.ref %}">
              {{corpus.title}}
   </a>
 
</p>
{% else %}
<p>
Update of opus 
 <a    href="{% url 'home:opus' opus.ref %}">{{opus.title}}</a> in corpus  <a    href="{% url 'home:corpus' corpus.ref %}">
              {{corpus.title}}
   </a>

</p>

{% endif%}
<hr/>

{% crispy opusForm  %}

 </div>
{% endblock content %}