{% extends "layout.html" %} 

{% load i18n %}

{% block content %}

{% load extras %} 
{% load guardian_tags %}

<!-- ACCUEIL -->

<div class="welcome">

	<img src="/static/themes/neumaThemeV2/images/logo-neuma-dark.svg"
		alt="neuma" width="360" height="90" alt="" />
	<div class="description">
	{% blocktrans trimmed %}
	NEUMA is a digital library of music scores encoded in MusicXML en MEI. Its objectives are threefold. 
	First, we give an on-line access to rare and often hardly accessible corpora, produced with a precise
	and homogeneous editing process. Second, Neuma demonstrates with interactive search and analytic
    tools how music notation can support advanced functionalities to explore digital scores. Finally,
    we also supply dissemination tools and service to let you access to large corpora of scores for
    your own purposes.
	{% endblocktrans %}
	</div>


</div>

<div class="clearer">&nbsp;</div>

<h1>{% trans "Corpora" %}</h1>

<div class="homeColls">

	<div class="shadow shadowLeft">&nbsp;</div>
	<div class="shadow shadowRight">&nbsp;</div>

	<a class="button buttonRight"> <span class="accessibility">go
			right</span>
	</a> <a class="button buttonLeft"> <span class="accessibility">go
			left</span>
	</a>


	<div class="slider" id="slider">
		<div class="train" id="train">
			{% for corpus in view.top_level_corpora %}
			
			
            <!-- Load the user/object permissions for the current corpus -->
            {% get_obj_perms request.user for corpus as "user_corpus_perms" %}
            
            {% if corpus.is_public or "view_corpus" in user_corpus_perms%}
			<div id="coll{{ forloop.counter }}" class="wagon">
				<a href="{% url 'home:corpus' corpus.ref %}"> 
				 {% if corpus.cover %}
				 <img
					class="illustration" alt="" width="200" height="213"
					src="{{ corpus.cover.url }}" />
				 {% endif %}
					 <span class="collTitre">
						{{corpus.shortTitle}} </span> <span class="collSoustitre">{{corpus.short_description}}</span>
				</a>
			</div>
			 {% endif %}
			{% endfor %}
		</div>
		<!-- fin du train -->
	</div>
	<!-- fin du slider -->
</div>
<!-- fin du homeColls -->


<!-- COLONNE DE GAUCHE - ÉCHANTILLONS -->

<!-- COLONNE DE GAUCHE - ÉCHANTILLONS -->


<div class="block antiThird left homeGauche previews">
	<h2>{% trans "Bookmarks" %}</h2>
	    {% for opus in view.recent_bookmarks %}

	<div>
		<ul class="toolbar">
	         
	         {% if opus.musicxml %}
	 		<li class="download"><a href="{{opus.musicxml.url}}"
				title="{% trans Download %}"> <span class="accessibility">{% trans Download %} </span>
			</a></li>
	         {% endif %}
		</ul>

		<a name="{{opus.id}}"></a>
		<h5>
			<a href="{% url 'home:opus' opus.ref %}">  {{opus.title}} </a>
			<i>in</i> <a href="{% url 'home:corpus' opus.corpus.ref %}">{{opus.corpus.title}}</a>
		</h5>

	</div>	
        {% endfor %} 


</div>
<!-- FIN COLONNE DE GAUCHE -->


<!-- COLONNE DE DROITE - ZOOM -->

<div class="block quarter right homeDroite">

	<h5>{% trans "Infos/news" %}</h5>
	<div class="content">
        <a href="{% url 'home:services' %}"><font color="white"><b>REST Services</b></font></a>
		<br/>
           Neuma proposes a RESTful interface to communicate with the digital library. 
        <hr/>
        <a href="{% url 'home:collections' %}"><font color="white"><b>Our collections</b></font></a>
        <br/>
         Stats on Neuma collections (or <i>corpora</i>), their content and metadata.
         <hr/>	</div>
</div>
<!-- FIN COLONNE DE DROITE -->



<div class="clearer">&nbsp;</div>

{% endblock content %}
