{% extends "layout_quality.html" %} 
{% load i18n %} 
{% load extras %} 
{% load guardian_tags %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Load the user/object permissions for the corpus -->
{% get_obj_perms request.user for opus.corpus as "user_corpus_perms" %}

<script type="text/javascript" src="/static/js/chart.min.js"></script>

<script type="text/javascript">
/* remove access header and replace by alternative header */
$(function() {
  //$('.page-header .banner.access').remove();
  $("#alternate-banner").appendTo(".page-header");
});
</script>
{% include "alternate-banner.html" %}


<!--
  Pas trop compris, mais cette insertion à cet endroit 
  semble permettre un affichage correct, sans appel aux fonctions
  Verovio AVANT qu'elles ne soient définies.
  En bas de page, j'ai défini l'élément HTML en m'assurant
  que le code verovio était bien chargé à ce moment-là. Bref
  ça semble aller.
  
-->
<script src="/static/js/verovio-toolkit.js"></script>

    
<script language="JavaScript" type="text/JavaScript">
/* Declare the list of tabs in the current page */
{% if "change_corpus" in user_corpus_perms  %}
var tabNames = [
	            {"tabId": "tab1", "divId": "score"}, 
                {"tabId": "tab2", "divId":"sources"},
                {"tabId": "tab3", "divId":"features"},
                {"tabId": "tab4", "divId":"manage"}
                ]
 {% else %}
var tabNames = [
	     {"tabId": "tab1", "divId": "score"}, 
         {"tabId": "tab2", "divId":"sources"},
         {"tabId": "tab3", "divId":"features"}
                ]
{% endif %}
</script>


<h1>
    <ul class="toolbar active">

        {% if perms.manager.change_opus %}
        <li class="edit">
         <a  href="{% url 'home:edit_opus' opus.ref %}" title="Edit opus">
                            <span class="accessibility">edit</span>
                         </a>
                         </li> 
                         {% endif %}
    </ul>
{{opus.title}}</h1>

<dl class="description">
	<dt>{% trans "Corpus" %}</dt>
	<dd>
		<a href="{% url 'home:corpus' opus.corpus.ref %}">{{opus.corpus.title}}</a>
	</dd>
	<dt>{% trans "Opus title" %}</dt>
	<dd>{{opus.title}}</dd>
	{% if opus.year != None %}
	<dt>{% trans "Year" %}</dt>
	<dd>{{opus.year}}&nbsp;</dd>
	{% endif %} {% if opus.reference != None %}
	<dt>{% trans "Reference" %}</dt>
	<dd>{{opus.reference}}&nbsp;</dd>
	{% endif %} 
	{% if opus.composer != None %}
	<dt>{% trans "Composer" %}</dt>
	<dd>{{opus.composer}}&nbsp;</dd>
	{% endif %} 
    {% if opus.external_link != None %}
    <dt>{% trans "External link" %}</dt>
    <dd><a href="{{opus.external_link}}" target="_blank">{{opus.external_link}}</a>&nbsp;</dd>
    {% endif %} 

     {% for meta in meta_values %}
      <dt>
         {{meta.displayed_label}}</dt><dd>{{meta.meta_value}}</dd>
      {% endfor %} 
      
      
	<dt>{% trans "Files"%}</dt>
	<dd>
		{% if opus.pdf %} 
		 <a href="{{opus.pdf.url}}">PDF</a> 
		 {% endif %} 
		 {% if opus.mei %} 
		|  <a target="_blank" href="{{opus.mei.url}}">MEI</a> 
		{% endif %} 
		{% if opus.musicxml %} | <a target="_blank"
			href="{{opus.musicxml.url}}">MusicXML</a> 
			{% endif %}
        {% if opus.record %} | <a target="_blank"
            href="{{opus.record.url}}">MP3</a> 
            {% endif %}
        {% if opus.summary %} | <a target="_blank"
            href="{{opus.summary.url}}">Summary</a> 
            {% endif %}
           </dd>
  
  </dl>
  

         
    <h4>{% trans "Metadata"%}</h4>
    
      <ul>
		{% for meta in opus.metadata %}
		    <li><b>{{meta.key}}</b>: {{meta.value}}</li>
         {% endfor %}
      </ul>
         
    <h4>{% trans "Sources"%}</h4>
    
      <ul>
       {% for source in opus.opussource_set.all %}
         <li>
          <b>Source {{source.ref}}</b>. 
		  <a href="{% url 'home:source' opus.ref source.ref %}" >
		               Details | 
            {% if source.url %}      
                <a target="_blank" href="{{source.url}}">Link to the source</a> |
            {% endif %} 
          {% if source.ref == 'iiif' %}
              | <a href="{% url 'home:iiif_viewer' source.id 'uv'  %}" target=”_blank”>
                           View with Universal viewer </a>
              | <a href="{% url 'home:iiif_viewer' source.id 'mirador'  %}" target=”_blank”>
                           View with Mirador </a>
        {% endif %}           
		{% if source.source_type.code == 'SYNC' %}
		  |  Playing the synchronisation with  <a href="https://theseusviewer.org/?iiif-content={{my_url}}{{source.file_rest_url|urlencode}}" target=”_blank”>
		           Theseus</a> or
		<a href="https://ifrit.fr/iiif/index.html#manifest={{my_url}}{{source.file_rest_url|urlencode}}" target=”_blank”>
					       CollabPlayer</a> 
			        {% endif %}           
        {% if "change_corpus" in user_corpus_perms %}
           | <a href="{% url 'admin:manager_opussource_change' source.id %}">
                           Edit
                   </a> 
               {% endif %}  
			
         </li>
      {% endfor %}
      </ul>
  
<!-- fin div .description -->

           
{% if explain %}
<h5>Music summary</h5>

<div>
	<ul>
		<li>Occurrences: 
		{% for part_id, part in occurrences.items %} 
		{% for voice_id, occ in part.items %} 
		   {{part_id}} {{voice_id}}: {{occ}} | 
			{% endfor %} 
			{% endfor %}</li>
		<li>Matching ids = {{matching_ids}}</li>
		<ol>
			{% for part_id, part in msummary.parts.items %}
			<li>Part {{part_id}}</li>
			<ol>
				{% for voice_id, voice in part.items %}
				<li>Voice {{voice_id}}. Items: {% for item in voice.items %}
					{{item}} | 
				{% endfor %} 
			{% endfor %}
			</ol>
			{% endfor %}
		</ol>
	</ul>
</div>
{% endif %}

<div>
	<ul id="tabnav">
		<li id="tab1" class="active"><a href="#"
			onClick="TabClick(tabNames, 0);">Score</a></li>
		<li id="tab2"><a href="#"
			onClick="TabClick(tabNames, 1);">Sources</a></li>
        <li id="tab3"><a href="#"
			onClick="TabClick(tabNames, 2);">Features</a></li>
         {% if "change_corpus" in user_corpus_perms %}
           <li id="tab4"><a href="#" onClick="TabClick(tabNames, 3);">Manage</a></li>
        {% endif %}
		</li>
	</ul>
</div>

<div class="clearer">&nbsp;</div>


<!--   Tab for main score  -->
<div id="score" style="display: block">


<template id="display-verovio-score">

   <button id="playMIDI">Ecouter la transcription MIDI</button>
        <button id="stopMIDI">Stop</button>        
        <button id="prevPage">Previous page</button>
        <button id="nextPage">Next page</button>

	<div>
		<div id="verovio"></div>
	</div>
 
</template>

    {%if  opus.mei  %}
 
<script>
	  var vrvOptions = {
		scale : 35,
		pageHeight : 20000,
		adjustPageHeight : 1
    	};

	  var vrvOptions2 = {
				scale : 35,
				breaks: "encoded"
		    	};

	 // Call JS function when the document is loaded
	 document.addEventListener("DOMContentLoaded", (event) => {

   /**
   Set the function as message callback

  MIDIjs.player_callback = midiHightlightingHandler;
   */
	       
	 });
</script>
   {% if config.enable_score_caching == True %}
       <!-- We show the score directly from the file. It may be cached
		    by the browser -->
<display-verovio-score opus_ref="{{opus.ref}}" mei_url="{{opus.mei.url}}">
</display-verovio-score>
    {% else %}
	<!-- We get the score from a REST call. No caching but slow . -->
	<display-verovio-score opus_ref="{{opus.ref}}" mei_url="{{opus_file_url}}">
</display-verovio-score>
     {% endif %}
	{% else %}
	<ul class="toolbar">
		<li class="download"><a href="{{opus.url_musicxml}}"
			title="{% trans 'Download' %}"> <span class="accessibility">{%
					trans 'Download' %}</span>
		</a></li>
	</ul>
 
	{% endif %}
	
</div>


<div class="clearer">&nbsp;</div>


<script>

/*******************************************************************************
 * Show a source with Verovio APP
 ******************************************************************************/

function displaySource(src, type, target) {

   console.log ("Display source " + src + " with type " + type + " in " + target) 

   if (type == "ref_mei" || type=="mei") {
	   // Ajout d'un element display-score-verovio
	   target_div = document.getElementById(target)
	   if (target_div == null) {
		   console.log ("Unknown element " + target)
	   }
	   else {
		   target_div.innerHTML = ""
		   console.log ("Ajout element display score")
		   const text = document.createElement('div');   
		   const dvs = document.createElement('display-verovio-score');   
		   dvs.setAttribute('mei_url', src);
		   target_div.appendChild(dvs)
	   }
   } 
   else if (type == 'image/jpeg') {
   
	  new Tify({
		  container: '#' + target,
		  manifestUrl: 'https://gallica.bnf.fr/iiif/ark:/12148/bpt6k1174892k/manifest.json',
		  viewer: {
			    immediateRender: false,
			  },
		})
   }

}
</script>   
   
   
<!--   Tab for sources  -->
<div id="sources" style="display: none">


     <table border="0" width="100%">
       <tr>
     {% for source in opus.opussource_set.all %}
         <th>
          <b>{{source.ref}}</b> ({{source.source_type.mime_type}}). 
           {{source.description}}
           {% if source.source_file %}
           <a href="{{source.source_file.url}}">File</a>
           {% else %}
               <a href="{{source.url}}">Link</a>
          {% endif %}
           
         </th>
      {% endfor %}
      </tr>
       <tr>
      {% for source in opus.opussource_set.all %}
        <td>
         {% if source.source_file %}      
           <a onclick="displaySource('{{source.source_file.url}}', 'mei', 'source1')" href="#">Show left</a> |
           <a onclick="displaySource('{{source.source_file.url}}', 'mei', 'source2')" href="#">Show right</a>
         {% endif %}
         {% if source.url %}      
           <a href="{% url 'home:iiif_viewer' source.id 'mirador' %} " target="_blank" href="#">Show</a> |
         {% endif %} 
        {% if "change_corpus" in user_corpus_perms %}
        
           | <a href="{% url 'admin:manager_opussource_change' source.id %}">
                           Edit
                   </a> 
               {% endif %}  
         </td>
      {% endfor %}
      </tr>
   </table>
   
  
<table width="100%">
<tr nobreak=1>
<td width="50%">
  <div  id="source1"/>
</td>
<td width="50%">
  <div id="source2"/>
</td>
</tr>
</table>
 
    <div id="tify" style="height: 640px"></div>

</div>

<div class="clearer">&nbsp;</div>

<!--   Tab for management functions -->
<div id="manage" style="display: none">

  {{source_form.errors}}

  {% if edit_source == 0 %}
  <h3>Create a new source</h3>
  {% else %}
  <h3>Update a source</h3>
  {% endif %}
  
       {% crispy source_form %}

  
</div>


<div class="clearer">&nbsp;</div>

<!--   Tab for features  -->
<div id="features" style="display: none">
 
 <div>
    
<dl class="description">
    {% for feature in opus.features %} 
         <dt>  {{feature.key}} </dt>
    <dd>{{feature.value}}</dd>
    {% endfor %}
</dl>
  </div>
</div>


{% endblock content %}

 {% block opus_menu %}
 
{%if request.session.search_context.pattern != "" %}
  <h2>{% trans "Search pattern" %} [<a href="{% url 'home:opus' opus.ref %}?pattern=">{% trans "Clear" %}</a>]</h2>
  <div id="pattern_score"></div>
  {% endif %}
  
  <!-- Inclusion of templates for annotation management -->
  {% include "annotation-templates.html" %}
  {% include "annotation-infobox.html" %}

  <script type="text/javascript">
   $(document).ready(function() {
       TabClick(tabNames,0);
     }
   );
  </script>

<script>

document.addEventListener( 'DOMContentLoaded', 
     verovio.module.onRuntimeInitialized = () => {
            let tk = new verovio.toolkit();
            
            console.log("Verovio has loaded!");
		    customElements.define("display-verovio-score", DisplayVerovioScore)
          }
);
</script>

  <!-- Parameters supplied to the ComputeAnnotations() Ajax call -->
<input id="compute_opus_ref" type="hidden" name="opus_ref" value="{{opus.ref}}"/>
<input id="compute_model_code" type="hidden" name="model_code" value="image-region"/>


{% endblock opus_menu %}



  
