{% load i18n %}

 <!--/////////////-->
<!-- VEROVIO -->
<!--/////////////-->  

 
<div>
    <ul class="toolbar">
        {% if opus.mei %}
        <li class="mei"><a target="_blank" href="{{opus.mei.url}}"
                           title="{% trans 'Download MEI' %}"> <span class="accessibility">{% trans 'Download MEI' %}</span>
        </a></li>
        {% endif  %}
        {% if opus.musicxml %}
        <li class="download"><a target="_blank" href="{{opus.musicxml.url}}"
                                title="{% trans 'Download MusicXML'%}" target="_blank"> <span class="accessibility">{% trans 'Download MusicXML' %}</span>
        </a></li>
        {% endif %}

              <li class="zoom">  <a  href="{% url 'home:opus' opus.ref %}" title="{% trans 'Open'%}">
                             <img width="20px" src="/static/images/zoom-icon.png"/>
                         </a>
                        </li>
 
    </ul>

    <a name="{{opus.id}}" />
    <h5>
        {% if opus.composer %}
        {{ opus.composer}}.
        {% endif %}
        <a href="{% url 'home:opus' opus.ref %}">{{opus.title}},</a>

        <i>in</i>
        <a href="{% url 'home:corpus' opus.corpus.ref %}">
            {{opus.corpus.title}}</a>
    </h5>
    
       {% if opus.mei %}
 
     
    <script type="text/javascript">
    /* Load the file using HTTP GET */
    console.log ("Get {{opus.mei.url}}")
        var vrvOptions = {
        inputFormat : 'mei',
        scale : 35,
        pageHeight : 100,
        adjustPageHeight : 1,
        border : 0,
        ignoreLayout : 1
    };

    vrvToolkit.setOptions(vrvOptions);
    
    $.ajax({
    url: "{{opus.mei.url}}"
    , dataType: "text"
    , success: function(data) {
        var svg = vrvToolkit.renderData(data);
        $("#incipit{{opus.id}}").html(svg);
    },
    error: function (xhr, ajaxOptions, thrownError) {
        console.log("Error with document {{opus.mei.url}} " + xhr.status);
      }
});</script>       

    <table class="preview"><tr>
        <td valign="top">
        </td><td>     <a href="{% url 'home:opus' opus.ref %}"><div id="incipit{{opus.id}}"></div></a>
        </td>
    </tr>
    </table>
{% endif %}

</div>
