{% extends "layout.html" %} 

{% load i18n %}
{% load admin_urls %}

{% block content %}

<!-- ACCUEIL -->
<h2>ScoreQL page</h2>

<div class="clearer">&nbsp;</div>

Platea dictumst. Vivamus a orci at nulla tristique condimentum. Donec arcu quam,
dictum accumsan, convallis accumsan, cursus sit amet, ipsum. In pharetra
sagittis nunc.

Donec consequat mi. Quisque vitae dolor. Integer lobortis. Maecenas id nulla.
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed volutpat felis
vitae dui. Vestibulum et est ac ligula dapibus elementum. Nunc suscipit nisl eu
felis. Duis nec tortor. Nullam diam libero, semper id, consequat in,
consectetuer ut, metus. Phasellus dui purus, vehicula sed, venenatis a, rutrum
at, nunc. Pellentesque interdum sapien nec neque.

Vivamus sagittis, sem sit amet porttitor lobortis, turpis sapien consequat orci,
sed commodo nulla pede eget sem. Phasellus sollicitudin. Proin orci erat,
blandit ut, molestie sed, fringilla non, odio. Nulla porta, tortor non suscipit
gravida, velit enim aliquam quam, nec condimentum orci augue vel magna. Nulla
facilisi. Donec ipsum enim, congue in, tempus id, pulvinar sagittis, leo. Donec
et elit in nunc blandit auctor. Nulla congue urna quis lorem. Nam rhoncus pede
sed nunc. Etiam vitae quam. Fusce feugiat pede vel quam. In et augue.

Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

Phasellus mollis dictum nulla. Integer vitae neque vitae eros fringilla rutrum.
Vestibulum in pede adipiscing mi dapibus condimentum. Etiam felis risus,
condimentum in, malesuada.


{% endblock content %}
