{% extends "layout_quality.html" %} 
{% load i18n %} 
{% load extras %} 
{% load guardian_tags %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Load the user/object permissions for the corpus -->
{% get_obj_perms request.user for opus.corpus as "user_corpus_perms" %}

<script type="text/javascript" src="/static/js/chart.min.js"></script>

<script type="text/javascript">
/* remove access header and replace by alternative header */
$(function() {
  //$('.page-header .banner.access').remove();
  $("#alternate-banner").appendTo(".page-header");
});
</script>
{% include "alternate-banner.html" %}


<script language="JavaScript" type="text/JavaScript">
/* Declare the list of tabs in the current page */
{% if "change_corpus" in user_corpus_perms  %}
var tabNames = [
	            {"tabId": "tab1", "divId": "source"}, 
                {"tabId": "tab2", "divId":"files"},
                {"tabId": "tab3", "divId":"misc"},
                {"tabId": "tab4", "divId":"manage"}
                ]
 {% else %}
var tabNames = [
	     {"tabId": "tab1", "divId": "source"}, 
         {"tabId": "tab2", "divId":"files"},
         {"tabId": "tab3", "divId":"misc"}
                ]
{% endif %}
</script>

<h1>Source {{source.ref}} de l'opus {{opus.title}}
	{% if "change_corpus" in user_corpus_perms %}
	  <a href="{% url 'admin:manager_opussource_change' source.id %}">
	                  (Edit)
	          </a> 
	 {% endif %}  
</h1>

{% if message %}
<b>Message</b> : {{message}}
{% endif %}

<div>
	<ul id="tabnav">
		<li id="tab1" class="active"><a href="#"
			onClick="TabClick(tabNames, 0);">General properties</a></li>
		<li id="tab2"><a href="#"
			onClick="TabClick(tabNames, 1);">Files</a></li>
        <li id="tab3"><a href="#"
			onClick="TabClick(tabNames, 2);">Misc.</a></li>
         {% if "change_corpus" in user_corpus_perms %}
           <li id="tab4"><a href="#" onClick="TabClick(tabNames, 3);">Manage</a></li>
        {% endif %}
		</li>
	</ul>
</div>

<div class="clearer">&nbsp;</div>
<!--   Tab for general properties  -->
<div id="source" style="display: block">


<dl class="description">
	<dt>{% trans "Corpus" %}</dt>
	<dd>
		<a href="{% url 'home:corpus' opus.corpus.ref %}">{{opus.corpus.title}}
	</dd>
	<dt>{% trans "Opus title" %}</a></dt>
	<dd><a href="{% url 'home:opus' opus.ref %}">{{opus.title}}</a></dd>  

		<dt>{% trans "Référence" %}</dt>
		<dd>{{source.ref}}</dd>
		<dt>{% trans "IIIF source?" %}</dt>
		<dd>{{source.is_iiif}}</dd>
		{% if source.url %}      
 			<dt>{% trans "URL" %}</dt>
			<dd><a target="_blank" href="{{source.url}}">{{source.url}}</a></dd>
		{% endif %} 
  {% if source.ref == 'iiif' %}
  <dt>{% trans "IIIF Manifest" %}</dt>
  <dd>  <dd><a target="_blank" href="{{source.iiif_manifest.url}}">Show</a></dd>
</dd>
  <dt>{% trans "View" %}</dt>
  <dd>  <a href="{% url 'home:iiif_viewer' source.id 'uv'  %}" target=”_blank”>
                     with Universal viewer </a></dd>
	<dt>{% trans "View" %}</dt>
	<dd>  <a href="{% url 'home:iiif_viewer' source.id 'mirador'  %}" target=”_blank”>
					                    with Mirador</a></dd>
{% endif %}           
	</dl>


	<h3>{% trans "Metadata"%}</h3>
	<ul>
	  {% for key, val in source.metadata.items %}
	     <li><b>{{key}}</b> : {{val}}</li>
	{% endfor %}
  </ul>

  </div>
  <div class="clearer">&nbsp;</div>
  <!--   Tab for main score  -->
  <div id="files" style="display: block">

  	 <h4>{% trans "Fichiers"%}</h4>
	 <ul>
	 {% if source.source_file %}      
	 	<li>
	 	<a target="_blank" href="{{source.source_file.url}}">Download attached file {{source.source_file}}</a>
	 </li>
	 {% endif %} 
	 {% if source.manifest %}      
	 <li><a target="_blank" href="{{source.manifest.url}}">Show the source manifest</a></li>
	 {% endif %}  
	 {% if source.ref == 'iiif' %}
	<li><a target="_blank" href="{{source.iiif_manifest.url}}">Show the IIIF manifest</a></li>
	   {% endif %}
    </ul>
</div>



<div class="clearer">&nbsp;</div>
<!--   Tab for operations on sources  -->
<div id="misc" style="display: block">
	 
	 {% if source.ref == 'iiif' %}
		<h3>{% trans "Opérations sur la source IIIF"%}</h3>
		
		<h4>{% trans "Stats"%}</h4>

		<table>
			<tr><th>Edition type</th><th>Nb</th></tr>
		  {% for key, val in source.stats_editions.items  %}
		  <tr>
		    <td>{{key}}</td><td>{{val}}</td>
		  </tr>
		  {% endfor %}
		</table>
		
		<h4>{% trans "Details"%}</h4>
		<ul>
		  {% for op in source.operations  %}
		  <li>
		    Type: {{op.name}},{{op.target}}, params: {{op.params}}
		  </li>
		  {% endfor %}
 		</ul>
	{% endif %}  
</div>


<div class="clearer">&nbsp;</div>
<!--   Tab for operations on sources  -->
<div id="manage" style="display: block">

	<h2>Manage source</h2>
	 
	<ul>
		<li><a href="{% url 'admin:manager_opussource_change' source.id %}">Edit the source</a></li>
		{% if source.source_type.code == 'JPEG' and source.is_iiif == True %}        
		    <!-- Must be moved to DMOS sources -->
		   <li><a href="{% url 'home:source' opus.ref source.ref %}?rebuild_score=1">Re-build the score from DMOS file</li>
        {% endif %}
		{% if source.source_type.code == 'MP3' or source.source_type.code == 'MP4' %}        
		   <li><a href="{% url 'home:source' opus.ref source.ref %}?rebuild_audio_manifest=1">Re-build the audio manifest</li>
		{% endif %}
	{% if source.source_type.code == 'SYNC' %}        
	   <li><a href="{% url 'home:source' opus.ref source.ref %}?rebuild_combined_manifest=1">Re-build the combined manifest</li>
	{% endif %}
		</ul>
	
</div>

	<script type="text/javascript">
	  $(document).ready(function() {
	      TabClick(tabNames,0);
	    }
	  );
	 </script>

<!-- fin div .description -->
{% endblock content %}
