{% extends "layout.html" %} {% load i18n %} 

{% block content %}

<script src="/static/js/verovio-toolkit-light-0.9.9.js"></script>

<h5>Music summary</h5>

<div>
       {% if opus.music_summary %}
         <!--  <pre>{{opus.music_summary}}</pre> -->
        {% endif %}
      <ul>
         <li>Opus id: {{msummary.opus_id}}</li>
         <li>Pattern: {{pattern}}. Intervals: {{pattern.get_intervals_as_string}}</li>
         <li>Occurrences: 
           {% for part_id, part in occurrences.items %}
           {% for voice_id, occ in part.items %}
               {{part_id}} {{voice_id}}: {{occ}} |
           {% endfor %}
           {% endfor %}
           </li>
           <li>Matching ids = {{matching_ids}}</li>
         <ol>
         {% for part_id, part in msummary.parts.items %}
           <li> Part {{part_id}}</li>   
             <ol>
             {% for voice_id, voice in part.items %}
              <li> Voice {{voice_id}}. Intervals: {{voice.get_intervals_as_string}} </li>
            {% endfor %}
            </ol>
            {% endfor %}
         </ol>
      </ul>  
</div>


<div id="links"></div>

<div>
<div id="score2"/>
</div>


<!-- <script  type="text/javascript">
  $(document).ready(function() {
    target2 = "score2";
    meiUrl2 = getURLParameter("mei_url2")
    matches_param2 = getURLParameter("matches")
    highlights2 = JSON.parse(matches_param)
    console.log("Highlights2............................")
    console.log(highlights2)
    displayWithVerovio("{{opus2.ref}}", meiUrl2, target2, highlights2)
  });
</script> -->


{% endblock content %}
