{% extends "layout.html" %} {% load i18n %} 

{% block content %}

<script src="/static/js/verovio-toolkit.js"></script>

<template id="display-verovio-score">

   <button id="playMIDI">Ecouter la transcription MIDI</button>
        <button id="stopMIDI">Stop</button>        
        <button id="prevPage">Previous page</button>
        <button id="nextPage">Next page</button>

	<div>
		<div id="verovio"></div>
	</div>
 
</template>

<display-verovio-score opus_ref="{{opus.ref}}" mei_url="{{mei_url}}">
</display-verovio-score>


<script>

document.addEventListener( 'DOMContentLoaded', 
     verovio.module.onRuntimeInitialized = () => {
            let tk = new verovio.toolkit();
            
            console.log("Verovio has loaded!");
		    customElements.define("display-verovio-score", DisplayVerovioScore)
          }
);
</script>

{% endblock content %}
