.DS_Store
.project
.pydevproject
*.pyc
__pycache__/
.settings
environment.yml
scorelib/local_settings.py
melodic_patterns_sorted.csv
diatonic_patterns_sorted.csv
rhythmic_patterns_sorted.csv
env/
*.log
