arrow==1.2.1
asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
blessed==1.19.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
coreapi==2.3.3
coreschema==0.0.4
cycler==0.11.0
Cython==0.29.24
Django @ file:///tmp/build/80754af9/django_1625585912945/work
django-guardian @ file:///home/conda/feedstock_root/build_artifacts/django-guardian_1622040106058/work
django-js-asset==1.2.2
django-mptt @ file:///home/conda/feedstock_root/build_artifacts/django-mptt_1632758568076/work
django-picklefield==3.0.1
django-q==1.3.9
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1616757768152/work
drf-yasg==1.20.0
elasticsearch==7.15.2
elasticsearch-dsl==7.4.0
fonttools==4.28.2
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==2.0.0
kiwisolver==1.3.2
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
mido==1.2.10
more-itertools==8.12.0
music21==7.1.0
numpy==1.21.4
packaging==21.3
Pillow==8.4.0
psycopg2 @ file:///opt/concourse/worker/volumes/live/7541fe58-2a45-4073-5d69-313e733fc729/volume/psycopg2_1612298592535/work
pyparsing==3.0.6
python-dateutil==2.8.2
python-log-indenter==0.9
pytz==2021.3
redis==3.5.3
requests==2.26.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
setuptools-scm==6.3.2
six==1.16.0
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
tomli==1.2.2
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
uritemplate==4.1.1
urllib3==1.26.7
verovio==3.7.0
wcwidth==0.2.5
webcolors==1.11.1
