apistar==0.7.2
arrow==1.2.1
asgiref==3.6.0
attrs==22.2.0
blessed==1.19.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
click==8.1.7
colorutils==0.3.0
contourpy==1.0.6
converter21==3.0.1
coreapi==2.3.3
coreschema==0.0.4
cycler==0.11.0
Cython==0.29.24
Django==4.2
django-cors-headers==4.3.1
django-crispy-forms==1.14.0
django-guardian==2.4.0
django-js-asset==1.2.2
django-mptt==0.14.0
django-picklefield==3.0.1
django-q==1.3.9
django-sendfile==0.3.11
djangorestframework==3.14.0
drf-spectacular==0.27.0
drf-yasg==1.21.4
elastic-transport==8.10.0
elasticsearch==7.13.4
elasticsearch-dsl==7.4.1
fonttools==4.28.2
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==2.0.0
jsonref==1.0.1
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.6.2
mido==1.2.10
more-itertools==8.12.0
music21==9.1.0
numpy==1.21.4
packaging==21.3
Pillow==8.4.0
psycopg2==2.9.5
Pygments==2.17.2
pyparsing==3.0.6
pyrsistent==0.19.3
python-dateutil==2.8.2
python-log-indenter==0.9
pytz==2021.3
PyYAML==6.0.1
redis==3.5.3
requests==2.26.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
setuptools-scm==6.3.2
six==1.16.0
sqlparse==0.4.3
tomli==1.2.2
typesystem==0.2.5
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.7
verovio==3.15.0
wcwidth==0.2.5
webcolors==1.11.1
