{% extends "layout.html" %} 

{% load i18n %}

{% block content %}

<!-- ACCUEIL -->

<h1>Liste des partitions numérisées</h1>

<ul>
  {% for opus in opus_list %}
  <li>
     Partition {{opus.opus_obj.title}}
     <ol>
        <li>Lien Opus : <a href="{% url 'home:opus'  opus.opus_obj.ref %}">{{opus.opus_obj.ref}}</a></li>
        <li>Lien MEI : <a href="{{opus.url_mei}}">{{opus.url_mei}}</a></li>
        <li>Lien annotations : <a href="{{opus.url_annotations}}">{{opus.url_mei}}</a></li>
        <li><a href="{% url 'collabscore:tests'  opus.opus_obj.ref %}">Tests d'imports des données ORM</a>
        
     </ol>
  </li>
  {% endfor %}
</ul>
<h1>Actions</h1>
<div class="welcome">

</div>


<div class="clearer">&nbsp;</div>

{% endblock content %}
