{% extends "layout.html" %} 
{% load i18n %} 

{% block content %}

    
    
<h4>Message schéma</h4> 

{{message_schema}}

<h4>Message données : {{message}}</h4>

<ul>
{% for e in  errors %}
<li>{{e}}</li>
{% endfor %}
</ul>

<!-- On peut ajouter extracted_score.html -->

<h4>La partition produite</h4>


	<div>
		<div id="verovio"></div>
	</div>
	
<div class="panel-body">
    <div id="app" class="panel" style="border: 1px solid lightgray; min-height: 800px;"></div>
</div>
<script type="module">
    import 'https://www.verovio.org/javascript/app/verovio-app.js';

    // Create the app - here with an empty option object
    const app = new Verovio.App(document.getElementById("app"), {});

    // Load a file (MEI or MusicXML)
	var score_url = 
	console.log ("Loading {{opus_url}}");

    fetch("{{opus_url}}")
        .then(function(response) {
            return response.text();
        })
        .then(function(text) {
            app.loadData(text);
        });
</script> 

<h4>Les annotations</h4>

<ul>
{% for annotation in annotations %}
  <li>
    <ol>
    <li><b>Target</b>: {{ annotation.get_json_obj.target }}</li>
      <li><b>Body</b>: {{ annotation.get_json_obj.body }}</li>
    
    </ol>
  </li>
{% endfor %}
</ul>

{% endblock content %}