{% extends "layout.html" %} 
{% load i18n %} 

{% block content %}

    
    
<h4>Message schéma</h4> 

{{message_schema}}

<h4>Message données : {{message}}</h4>



<ul>
{% for e in  errors %}
<li>{{e}}</li>
{% endfor %}
</ul>

<h4>Le document analysé</h4>

{{document}}


<h4>La partition extraite</h4>

<ul>
   <li>Image analysée : {{omr_score.score_image_url}}</li>
      <li>Nombre de pages : {{omr_score.pages|length}}
      <ul>
         {% for page in omr_score.pages %}
           <li>Page {{page.no_page}}, avec {{page.systems|length}} système(s)
             <ul>
               {% for system in page.systems %}
                 <li>Système {{system.id}}, zone {{system.zone}}, nb portées {{system.headers|length}}
                     <ul>
                     {% for measure in system.measures %}
                        <li>Measure {{measure.id}}, zone {{measure.zone}}
                          <ul>
                          {% for voice in measure.voices %}
                            <li>Voice {{voice.id}}
                               {% for item in voice.items %}
                                  {{item}}, 
                               {% endfor %} 
                            </li>
                           {% endfor %}
                         </ul>
                        </li>
                     {% endfor %}
                     </ul>
                 </li>
               {% endfor %}
           </ul>
           </li>
         {% endfor %}
         </li>
      </ul>
</ul>


	<div>
		<div id="verovio"></div>
	</div>
	
<div class="panel-body">
    <div id="app" class="panel" style="border: 1px solid lightgray; min-height: 800px;"></div>
</div>
<script type="module">
    import 'https://www.verovio.org/javascript/app/verovio-app.js';

    // Create the app - here with an empty option object
    const app = new Verovio.App(document.getElementById("app"), {});

    // Load a file (MEI or MusicXML)
	var score_url = 
	console.log ("Loading {{opus_url}}");

    fetch("{{opus_url}}")
        .then(function(response) {
            return response.text();
        })
        .then(function(text) {
            app.loadData(text);
        });
</script> 

{% endblock content %}