#left {
  width: 450px;
  float: left;
  /*border-right: 10px solid #FF0000;*/
  /*background-color:#FF0000;*/
}
#right {
  margin-left: 450px;
  /* Change this to whatever the width of your left column is*/
  /*background-color:#00FF00;*/
}
.clear {
  clear: both;
}
