
tr.myheader {background-color: #e64f3e; color:white; text-align:left;
  font-size: 10px;}
tr.odd {background-color:#eeeeee; font-size: 10px;}
tr.even {background-color:#dddddd; font-size: 10px;}
