
.rhythm-dot::before {
    content: ' ';
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: block;
    background: #00f;
    margin-left: -9px;
}

.neuma-stat-histogram {
    float: left;
}

table.corpus-medoids-selectbox thead {
    font-weight: bold;
    text-align: center;
}

table.corpus-medoids-selectbox > tbody > tr > td:first-child {
    font-weight: bold;
}

table.corpus-medoids-selectbox > tbody > tr > td {
    padding: 3px 14px;
}

table.corpus-medoids-selectbox > thead > tr:first-child > td:first-child {
    background-color: #dddddd;
}

