H1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #993300;
}

TR.header {background-color:#993300; color:white; text-align:left}
TR.odd {background-color:#eeeeee}
TR.even {background-color:#dddddd}


a {	text-decoration:none;color: #993300;

}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #993300;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #993300;
}
