.full
{
	width: 100%;
}
.pseudoFull
{
	width: 99%;
}
.large
{
	width: 70%;
}
.antiLarge
{
	width: 28%;
}

.medium, .half, .moitie
{
	width: 50%;
}
.antiMedium, .antiHalf, .antiMoitie
{
	width: 48%;
}

.third, .tiers
{
	width: 33%;
}
.antiThird, .antiTiers
{
	width: 65%;
}
.quarter, .quart
{
	width: 25%;
}
.antiQuarter, .antiQuart
{
	width: 73%;
}
.small, petit
{
	width: 20%;
}
.antiSmall, .antiPetit
{
	width: 78%;
}
.tiny, toutPetit
{
	width: 10%;
}
.antiTiny, antiToutPetit
{
	width: 88%;
}

.width10, .taille10
{
	width: 10px;
}
.width20, .taille20
{
	width: 20px;
}
.width30, .taille30
{
	width: 30px;
}
.width40, .taille40
{
	width: 40px;
}
.width50, .taille50
{
	width: 50px;
}
.width60, .taille60
{
	width: 60px;
}
.width70, .taille70
{
	width: 70px;
}
.width80, .taille80
{
	width: 80px;
}
.width90, .taille90
{
	width: 90px;
}
.width100, .taille100
{
	width: 100px;
}
.width110, .taille110
{
	width: 110px;
}
.width120, .taille120
{
	width: 120px;
}
.width130, .taille130
{
	width: 130px;
}
.width140, .taille140
{
	width: 140px;
}
.width150, .taille150
{
	width: 150px;
}
.width160, .taille160
{
	width: 160px;
}
.width170, .taille170
{
	width: 170px;
}
.width180, .taille180
{
	width: 180px;
}
.width190, .taille190
{
	width: 190px;
}
.width200, .taille200
{
	width: 200px;
}
.width250, .taille250
{
	width: 250px;
}
.width300, .taille300
{
	width: 300px;
}
.width350, .taille350
{
	width: 350px;
}
.width400, .taille400
{
	width: 400px;
}
.width500, .taille500
{
	width: 500px;
}
.width600, .taille600
{
	width: 600px;
}
.width700, .taille700
{
	width: 700px;
}
.width800, .taille800
{
	width: 800px;
}
.width900, .taille900
{
	width: 900px;
}


.height10, .haut10
{
	height: 10px;
}
.height20, .haut20
{
	height: 20px;
}
.height30, .haut30
{
	height: 30px;
}
.height40, .haut40
{
	height: 40px;
}
.height50, .haut50
{
	height: 50px;
}
.height60, .haut60
{
	height: 60px;
}
.height70, .haut70
{
	height: 70px;
}
.height80, .haut80
{
	height: 80px;
}
.height90, .haut90
{
	height: 90px;
}
.height100, .haut100
{
	height: 100px;
}
.height110, .haut110
{
	height: 110px;
}
.height120, .haut120
{
	height: 120px;
}
.height130, .haut130
{
	height: 100px;
}
.height140, .haut140
{
	height: 100px;
}
.height150, .haut150
{
	height: 150px;
}
.height200, .haut200
{
	height: 200px;
}
.height250, .haut250
{
	height: 250px;
}
.height300, .haut300
{
	height: 300px;
}
.height350, .haut350
{
	height: 350px;
}
.height400, .haut400
{
	height: 400px;
}
.height500, .haut500
{
	height: 500px;
}
.height600, .haut600
{
	height: 600px;
}
.height700, .haut700
{
	height: 700px;
}
.height800, .haut800
{
	height: 800px;
}
.height900, .haut900
{
	height: 900px;
}