/****************************************/
/*     	     CSS3 polices	    	    */							
/****************************************/


/* règle not 
:not(.box) {
  color: #00c; 
} 
*/

/*display: inline-block;*/

/*
More specific targetting
h2:first-child { ... }

div.text > div { ... } 
h2 + header { ... } 

*/


/****************************************/
/*     	       CSS3 texte      	    */							
/****************************************/

/* http://www.fontsquirrel.com/fontface/generator */

@font-face {
    font-family: 'NimbusSansLReguCond';
    src: url('../fonts/nimbuscondGNU.eot');
    src: url('../fonts/nimbuscondGNU?#iefix') format('embedded-opentype'),
         url('../fonts/nimbuscondGNU.woff') format('woff'),
         url('../fonts/nimbuscondGNU.ttf') format('truetype'),
         url('../fonts/nimbuscondGNU.svg#NimbusSansLReguCond') format('svg');
    font-weight: normal;
    font-style: normal;
	/*Aspect Ratio for font-size-adjust: 0.52*/
}

@font-face {
    font-family: 'NimbusSansLBoldCond';
    src: url('../fonts/nimbuscondGNUbold.eot');
    src: url('../fonts/nimbuscondGNUbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nimbuscondGNUbold.woff') format('woff'),
         url('../fonts/nimbuscondGNUbold.ttf') format('truetype'),
         url('../fonts/nimbuscondGNUbold.svg#NimbusSansLBoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
	/*Aspect Ratio for font-size-adjust 0.53*/
}

@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: local("Bitstream Vera Serif Bold"), url("../../../themes/grayTheme/fonts/VeraSeBd.ttf")
      format("truetype");
      
    }
    
.testVera { font-family: "Bitstream Vera Serif Bold";
/*font-size-adjust: 1;*/
font-size: 30pt;
line-height: 1.1em;}




.ellipse, .ellipsis
{
font-weight: bold;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

.collumns2, .colonnes2
{
hyphens: auto;
hyphenate-lines: 3;
-webkit-column-count: 2;  
-webkit-column-rule: 1px solid #bbb;
-webkit-column-gap: 2em;
-moz-column-count: 2;  
-moz-column-rule: 1px solid #bbb;
-moz-column-gap: 2em;
column-count: 2;  
column-rule: 1px solid #bbb;
column-gap: 2em;
}
.collumns3, .colonnes3
{
hyphens: auto;
hyphenate-lines: 3;
-webkit-column-count: 3;  
-webkit-column-rule: 1px solid #bbb;
-webkit-column-gap: 2em;
-moz-column-count: 3;  
-moz-column-rule: 1px solid #bbb;
-moz-column-gap: 2em;
column-count: 3;  
column-rule: 1px solid #bbb;
column-gap: 2em;
}

.contour {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 4.25px;  
} 

textShadow .ombreTexte
{
	-moz-text-shadow: 4px 4px 5px #DDD;
	-webkit-text-shadow: 4px 4px 5px #DDD;
	text-shadow: 4px 4px 5px #DDD;
}

/****************************************/
/*     	     CSS3 color + alpha   	    */							
/****************************************/


.demiBleu {
	background-color: rgba(0, 0, 255, 0.5);
	} 

.fondRedimensionnable, .resizableBackground
{
	background-size: contain; /* cover auto 100% */
}

.dimmed {background-color: rgba(0, 0, 60, 0.10);}

/*fonds multiples
div {
  background: url(src/zippy-plus.png) 10px center no-repeat, 
              url(src/gray_lines_bg.png) 10px center repeat-x;
}
*/

/****************************************/
/*     	     CSS3 animation   	    */							
/****************************************/

/*
transition
#box {
  -webkit-transition: margin-left 1s ease-in-out;
}  

@-webkit-keyframes pulse {
 from {
   opacity: 0.0;
   font-size: 100%;
 }
 to {
   opacity: 1.0;
   font-size: 200%;
 }
}

div {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

*/


/****************************************/
/*     	     CSS3 layout beta   	    */							
/****************************************/


.rounded, .arrondi
{

	border: 1px #C9CDD2 solid;
	padding: 10px;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em;
}



.bigRounded, .grosArrondi
{
	background-color: white;
	border: 3px #bb00dd solid;
	padding: 30px;
	-moz-border-radius: 2em;
	-webkit-border-radius:2em;
	border-radius: 2em;
}

.shadow, .ombre
{
	-moz-box-shadow: 4px 4px 5px #DDD;
	-webkit-box-shadow: 4px 4px 5px #DDD;
	box-shadow: 4px 4px 5px #DDD;
}

.reflet, .reflect
{
-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
/*-webkit-box-reflect: <direction> <offset> <mask-box-image>*/
}

/* http://webkit.org/blog/130/css-transforms/ */

.linearGradient, .degradeLineaire
{
background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01, rgb(255,255,255)),
    color-stop(1, rgb(217,200,215))
);
background: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 1%,
    rgb(217,200,215) 100%
);
                         


}
.circularGradient, .degradeCirculaire
{
background: -webkit-gradient(radial, 430 50, 0, 430 50, 200, from(red), to(#000));
background: -moz-radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%);
}

.rotate, .angle
{
	-webkit-transform: rotate(-1.5deg);
	-moz-transform: rotate(-1.5deg);
	transform: rotate(-1.5deg);
}
/*
-webkit-transform: rotateZ(5deg);
-webkit-transform: rotateY(45deg);            
-webkit-transform: scaleX(25deg);            
-webkit-transform: translate3d(0, 0, 90deg);            
-webkit-transform: perspective(500px) 
*/