body {
	background:#FFF url(/images/themes/model1/bg-tpl-body.jpg) 667px 0 repeat-x;
}

#tplsg-header {
	width:667px;
	height:71px;
	background:#FFF url(/images/themes/model1/bg-tpl-header.jpg) no-repeat top left;
	z-index:2;
}

#tplsg-header-end {
	position:absolute;
	top:0;
	right:0;
	width:400px;
	height:71px;
	background:transparent url(/images/themes/model1/bg-tpl-header-end.gif) no-repeat top right;
	z-index:1;
	color:#fff;
	padding-top:25px;
	font:bold 20px "Trebuchet MS";
}

#tplsg-header a#tplsg-block-link {
	display:block;
	width:210px;
	height:71px;
}

#tplsg-header #tplsg-homepage {
	position:absolute;
	top:10px;
	left:130px;
	background-color: #FFF ;
	padding:7px 15px;
	opacity: .8;
	filter: alpha(opacity=80);
}

#tplsg-header #tplsg-homepage span a {
	font-weight:bold;
	text-decoration:none;
	color:#009999;
	text-transform:uppercase;
	opacity: none;
}

#tplsg-header #tplsg-homepage a:hover {	
	color:#949494;
}

#tplsg-breadcrumb{
	font:11px Arial !important;
}

#tplsg-languagesList {
	position:absolute;
	top:0;
	left:217px;
	margin: 0px;
	padding:0 5px;
	font:10px Arial !important;
	z-index:4;
}

#tplsg-languagesList a {
	vertical-align: middle;
	cursor:pointer;
	color:#343834;
	text-decoration:none;
}

#tplsg-languagesList a:hover {
	text-decoration:underline;
}

#tplsg-languagesList a.selected {
	color:#a4a4a4;
}



#tplsg-breadcrumb {
	height:19px;
	color:#00464c;
}

#tplsg-breadcrumb #tplsg-bc-nav {
	float:left;
	margin-left:5px;
	font-weight:bold;
	font:11px Arial !important;
}

#tplsg-breadcrumb #tplsg-bc-nav li {
	display:inline;
}

#tplsg-breadcrumb #tplsg-bc-nav li a {
	color:#000;
	text-decoration:none;
}

#tplsg-breadcrumb #tplsg-bc-nav li a:hover {
	text-decoration:underline;
}



#tplsg-portal-access {
	position:absolute;
	top:4px;
	right:10px;
	font:9px Arial !important;
	z-index:6;
}

#tplsg-logout {
	height:18px;
	font:11px Arial !important;
	margin-right:2px;
	background:transparent url(/images/themes/unlock.gif) no-repeat center right;
	padding:1px 14px 0 10px;
}

#tplsg-logout a, #tplsg-portal-access a {
	color:#016e6d;
	text-decoration:none;
}

#tplsg-logout a:hover, #tplsg-portal-access a:hover {
	text-decoration:underline;
}



#tplsg-searchForm {
	position:absolute;
	top:66px;
	right:10px;
	z-index:3;
}

#tplsg-searchForm input {
	padding:2px 4px;
	height:18px;
	font:10px Arial !important;
	border:1px solid #aaa;
}

#tplsg-searchForm input:focus {
	border:1px solid #008A8A;
}

#tplsg-searchForm .tplsg-btn {
	padding:0;
	height:20px;
}

.searchQuery {
	color:#998272;
}



#tplsg-contentwrapper{	
	margin: 0 150px 0px 180px;
}

#tplsg-contentwrapper-wide{	
	margin: 0 0 0 180px;
}

#tplsg-content {
	text-align:left;
	zoom:1;
	margin-right:20px;
}

#tplsg-left {	
	position:absolute;
	top:90px;
	left:0;
	width:180px;
	font-size:11px;
}

#tplsg-right {	
	position:absolute;
	right:0;
	width:140px;
	background:#FFF;
	font-size:11px;
	border-right:1px solid #D3D3C3;
}



#tplsg-footer {
	clear: both;
	width: 100%;
	height:50px;
	margin-top:10px;
	text-align:center;
	font-size:10px;
}

#tplsg-footer ul {
	padding-top:15px;
	margin-bottom:5px;
}

#tplsg-footer ul li {
	display:inline;
	margin:5px 0;
}

#tplsg-footer p  {
	font-size:10px;
}


.tplsg-left-nav {
	list-style-type:none;
}

.tplsg-left-nav li.tplsg-nav-title span {
	display:block;
	height:19px;
	padding:2px 0 0 4px;
	color:#000;
	background:#5491A6 url(/images/themes/model1/bg-nav-title.jpg) no-repeat top right;
	text-transform:uppercase;
	font-weight:bold;
}

.tplsg-left-nav li.tplsg-nav-secondary-title {
	display:block;
	height:18px;
	padding:1px 5px;
	padding-left:12px;
	color:#505050;
	background:#FFFFEE url(/images/themes/model1/bg-nav-secondary-entry.jpg) no-repeat left center;
	border:1px solid #fff;
	border-width:0 0 1px 0;
	cursor:pointer;
	font-size:10px;
	font-weight:bold;
}

.tplsg-left-nav li.tplsg-nav-secondary-title:hover {
	background:#FFFFEE url(/images/themes/model1/bg-nav-secondary-entry-hover.jpg) no-repeat left center;
}

.tplsg-left-nav li a {
	display:block;
	height:18px;
	padding:1px 5px;
	border:1px solid #fff;
	border-width:0 0 1px 0;
	background:#FFFFEE url(/images/themes/model1/bg-nav-entry.jpg) repeat-x;
	color:#000;
	text-decoration:none;
	font-weight:normal;
}

.tplsg-left-nav li a:hover,
.tplsg-left-nav li a:visited {
	color:#000;
	text-decoration:none;
	font-weight:normal;
}

.tplsg-left-nav li span { padding-top:2px; }

.tplsg-left-nav li a:hover {
	background:#FFFFEE url(/images/themes/model1/bg-nav-entry-hover.jpg) repeat-x;
}

#tplsg-left-nav li a.current-item {
	background:#e5feff url(/images/themes/model1/bg-nav-current-entry.jpg) repeat-x !important;
	border-right:4px solid #5491A6 !important;
}

.tplsg-left-nav li.tplsg-nav-end {
	height:40px;
	color:#02A681;
	font-size:10px;
	background:#fff url(/images/themes/model1/bg-nav-end.jpg) no-repeat;
}
