
@font-face {
    font-family:"IBM Plex Sans Bold Italic";
    src:url("IBMPlexSans-BoldItalic.woff2") format("woff2"),url("IBMPlexSans-BoldItalic.woff") format("woff"),url("IBMPlexSans-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        