
@font-face {
    font-family:"IBM Plex Sans Thin";
    src:url("IBMPlexSans-Thin.woff2") format("woff2"),url("IBMPlexSans-Thin.woff") format("woff"),url("IBMPlexSans-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        