
@font-face {
    font-family:"IBM Plex Sans ExtraLight";
    src:url("IBMPlexSans-ExtraLight.woff2") format("woff2"),url("IBMPlexSans-ExtraLight.woff") format("woff"),url("IBMPlexSans-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        