
@font-face {
    font-family:"IBM Plex Sans SemiBold Italic";
    src:url("IBMPlexSans-SemiBoldItalic.woff2") format("woff2"),url("IBMPlexSans-SemiBoldItalic.woff") format("woff"),url("IBMPlexSans-SemiBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        