
@font-face {
    font-family:"IBM Plex Sans Light Italic";
    src:url("IBMPlexSans-LightItalic.woff2") format("woff2"),url("IBMPlexSans-LightItalic.woff") format("woff"),url("IBMPlexSans-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        