
@font-face {
    font-family:"IBM Plex Sans Bold";
    src:url("IBMPlexSans-Bold.woff2") format("woff2"),url("IBMPlexSans-Bold.woff") format("woff"),url("IBMPlexSans-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        