<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Nicolas Taffin - http://polylogue.com" />
<meta name="keywords" content="neuma, digital music scores library" />
<meta name="description" content="neuma, digital music scores library" />

<title>Neuma/ScoreLib</title>

<link rel="shortcut icon" type="image/x-icon"
	href="/static/themes/neumaTheme/images/favicon.gif" />

<link rel="stylesheet" href="/static/core/blankCore/css/blank.css"
	type="text/css" media="all" />
<link rel="stylesheet" href="/static/themes/neumaTheme/css/main.css"
	type="text/css" media="screen" />
<link rel="stylesheet" href="/static/themes/neumaTheme/css/print.css"
	type="text/css" media="print" />
<link rel="stylesheet" href="/static/themes/neumaTheme/css/handheld.css"
	type="text/css" media="handheld" />

<link rel="stylesheet" href="/static/css/thickbox.css" type="text/css"
	media="screen" />

<link rel="stylesheet" type="text/css" href="/static/css/tabnav.css" />
<!--[if IE 5]> <script type="text/javascript">alert("Le navigateur que 
			vous utilisez pour consulter ce site est obsolète, nous sommes désolés de 
			ne pouvoir le supporter."); return(false);document.execCommand('Stop');</script> 
			<![endif] -->
<!--[if IE 6]> <link rel="stylesheet" type="text/css" media="screen" href="/themes/neumaTheme/css/debug-ie6.css"/> 
			<script type="text/javascript">alert("Le navigateur que vous utilisez pour 
			consulter ce site est obsolète, nous sommes désolés de ne pouvoir le supporter.");document.execCommand('Stop');</script> 
			<![endif] -->
<!--[if IE 7]> <link rel="stylesheet" type="text/css" media="screen" href="/themes/neumaTheme/css/debug-ie7.css"/> 
			<![endif] -->
<!--[if IE 8]> <link rel="stylesheet" type="text/css" media="screen" href="/themes/neumaTheme/css/debug-ie8.css"/> 
			<![endif] -->
<!--[if IE 9]> <link rel="stylesheet" type="text/css" media="screen" href="/themes/neumaTheme/css/debug-ie9.css"/> 
			<![endif] -->
 <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/soundmanager.js?v=20090616"></script>
        <script type="text/javascript" src="/static/js/piano.js"></script>
        <script type="text/javascript" src="/static/js/pianoCustom.js"></script>
    
<script type="text/javascript"
	src="/static/themes/neumaTheme/scripts/switch.js"></script>

</head>

<body class="accueil">

	<div class="pageWrapper">
		<div class="page">
			<div class="pageContent">

				<!-- Header -->

				<div class="headerWrapper">
					<div class="header">
						<div class="headerContent">


							<!-- premier étage : languages -->

							<div class="banner langages">
							</div>
							<!-- fin div .langages -->

							<!-- deuxième étage : platform -->

							<div class="banner platform">


								<!-- le menu à propos -->
								<ul class="menu menuAbout">
									<li><a href="javascript:void(0);">Menu</a>
										<ul>
											<li><a href="{% url 'home:presentation' %}">{% trans "Presentation" %}
											</a></li>
                                            <li><a href="{% url 'home:services' %}">{% trans "Services" %}
                                            </a></li>
                                            <li><a href="{% url 'manager:index' %}">{% trans "Admin" %}
                                            </a></li>
											<li><a href="{% url 'home:contact' %}">{% trans "Contact" %}</a>
											</li>
										</ul></li>
								</ul>
								<div class="clearer">&nbsp;</div>


								<!-- la connexion -->
								<a href="javascript:void(0);" id="connexionLink">{% trans "Connection" %}</a>

								<div id="connexionZone">
									<!-- ajax content here -->

								</div>
								<!-- ending connexionZone -->

								<!-- le logo -->
								<a class="logo" href="/" title="Neuma home page"> <span
									class="accessibility">Neuma home page</span>
								</a>

								<div class="clearer">&nbsp;</div>
							</div>
							<!-- fin div .platform -->


							<!-- troisième étage : access -->

							<div class="banner access">

								<!-- le menu collections -->
								<ul class="menu menuAccess">

									<li class="selected"><a href="javascript:void();">Collections</a>
										<ul>
											<li><a href="{base_url}/index/collections">{% trans "All collections" %}…</a>
											</li>
											{% for corpus in view.top_level_corpora %}
											 <li><a
                                                href="{% url 'home:corpus' corpus.id %}">{{corpus.short_title}}</a>
                                              </li>
											{% endfor %}

											<!--  <ul> <li class="selected"> <a href="index.php?contenu=souscorpus">Godeau 
										1655</a> </li> </ul> -->
										</ul></li>
								</ul>

								<!-- rechercher -->
								<div class="searchForm">
									<form action="{% url 'home:search' %}" method="get">
										<!--  <input type="hidden" name="searchForm" value="1" /> -->
										<fieldset>
											<div id="scoreSnippet" style="">
												<!-- background this div with the score snippet -->
												<input width="200" id="expression" type="text"
													name="keywords" value="{{keywords}}" 
													onfocus="if (this.value=='Keywords') this.value=''"
													onblur="if (this.value=='') this.value='Keywords'">
											</div>

											<a id="keyboardLink" title="{% trans "Keyboard" %}"> <span
												class="accessibility">{%trans "Keyboard" %}</span>
											</a>

											<!-- <a id="collectionsLink" title="Collections"> <span class="accessibility">Collections</span> 
													</a> -->

                                                <div id="keyboardZone">

                                                    <!-- ajax content here -->

                                                </div><!-- ending keyboardZone -->


											<div id="collectionsZone">
												<!-- ajax content here -->
											</div>
											<!-- ending collectionsZone -->

											<input id="submitButton" type="submit" value="{% trans 'Search' %}" />

										</fieldset>
									</form>
								</div>
								<div class="clearer">&nbsp;</div>
							</div>
							<!-- fin div .access -->


							<div class="clearer">&nbsp;</div>
						</div>
						<!-- fin div .headerContent -->
					</div>
					<!-- fin div .header -->
				</div>
				<!-- fin div .headerWrapper -->

				<!-- Main -->

				<div class="mainWrapper">

					<div class="main">
						<div class="mainContent document">

							{% block content %}{% endblock content %}

							<div class="clearer">&nbsp;</div>
						</div>
						<!-- fin div .mainContent -->
					</div>
					<!-- fin div .main -->
				</div>
				<!-- fin div .mainWrapper -->


				<!-- Footer -->
				<div id="footerWrapper">
					<div id="footer">
						<div id="footerContent" class="content">

							<img class="logo"
								src="/static/themes/neumaTheme/images/motifneumaGauche.png" />

							<ul class="partners">

								<li><a href="http://www.agence-nationale-recherche.fr/">
										<img class="logo" src="/static/themes/neumaTheme/images/logoAnr.png"
										alt="ANR" />
								</a></li>
								<li><a href="http://www.iremus.cnrs.fr"> <img
										class="logo" src="/static/themes/neumaTheme/images/logoIremus.png"
										alt="IReMus" />
								</a></li>
								<li><a href="http://www.cnam.fr"> <img class="logo"
										src="/static/themes/neumaTheme/images/logoCnam.png" alt="Cnam" />
								</a></li>
								<li><a href="http"> <img class="logo"
										src="/static/themes/neumaTheme/images/logoRism.png" alt="RISM" />
								</a></li>
								<li><a href="http://www.huma-num.fr/"> <img
										class="logo" src="/static/images/humanum.png" width="50"
										alt="Huma-Num" />
								</a></li>
							</ul>

							<img class="logo"
								src="/static/themes/neumaTheme/images/motifneumaDroite.png" />


							<div class="clearer">&nbsp;</div>
						</div>
						<!-- fin div #footerContent -->
					</div>
					<!-- fin div #footer -->
				</div>
				<!-- fin div #footerWrapper -->

				<ul class="filAriane">
					<li>Hébergement, stockage et gestion de l'application sur la
						grille de services de la <a href="http://www.huma-num.fr/">TGIR
							Huma-Num</a>
					</li>
					</li>
					<!-- <li class="selected"> <a href="{base_url}">accueil</a> </li> <li> 
							<a href="{base_url}/index/about">à propos</a> </li> <li> <a href="{base_url}/index/collections">collections</a> 
							</li> -->
				</ul>

				<div class="clearer">&nbsp;</div>
			</div>
			<!-- fin div .pageContent -->
		</div>
		<!-- fin div .page -->

	</div>
	<!-- fin div .pageWrapper -->

	<!-- The Ajax code to show the connexion zone -->
	<script language="Javascript">
		$("#connexionZone").load("{% url 'home:auth' %}");
	</script>


</body>
</html>
