{% load i18n %}

<div id="alternate-banner" class="banner access alternate-banner">
<!--  
  <div class="location"><span class="label">{% trans "Source:" %}</span>
    <form id="form_submit_score" class="quality-ref" action="{% url 'quality:index' %}" method="get">
      <input type="hidden" name="urlForm" value="1" />
      <fieldset>
          <input id="url_score" type="text" name="url_score" placeholder="{% trans 'Enter the URL of a valid MusicXML or MEI score' %}" value ="{{url_score}}"/>
          <input id="submitButton" type="submit" value="{% trans 'Submit' %}" />
      </fieldset>
    </form>
  </div>
  -->
    <div class="options">
    <input type="checkbox" id="playOnClick" name="playOnClick">
    <label for="playOnClick">Play on click</label>
  </div>
  
  <!-- List of score to test quality rules
    <div class="location"><span class="label">{% trans "Test suite:" %}</span>
    <form class="quality-ref" onsubmit="event.preventDefault(); SelectSampleScore(this);" method="get">
      <fieldset>
          <select id="selected_sample_score" type="text" name="url_score">
             {% for opus_test in test_suite %}
              <option value="{{opus_test.url}}">{{opus_test.label}}</option>
               {% endfor %}
           </select>
          <input id="submitButton" type="submit" value="{% trans 'Check' %}" />
      </fieldset>
    </form>
  </div>
-->

  <!-- List of annotation models: the user chooses one, and it shows the annotations -->
    <div  class="concepts"><span class="label">{% trans "Annotation model:" %}</span>
    <form class="quality-ref" onsubmit="event.preventDefault(); SelectAnnotationModel(this);" method="get">
      <fieldset>
           <input type='hidden' id='opus_ref' name='opus_ref' value='{{opus.ref}}'/>
          <select id="selected_annotation_model" type="text" name="annotation_model">
             {% for a_model in annotation_models %}
             <!--  Default annotation model to show -->
               {% if a_model.code == "image-region" %}
              <option value="{{a_model.code}}" selected>{{a_model.name}}</option>
              {% else %}
                  <option value="{{a_model.code}}">{{a_model.name}}</option>
              {% endif %}
               {% endfor %}
           </select>
          <input id="submitButton" type="submit" value="{% trans 'Load annotations' %}" />
      </fieldset>
    </form>
  </div>

  <div class="concepts">
    <a class="concepts-trigger">{% trans 'Annotation tags…' %}</a>
    <div class="concepts-palette">
       <a class="close-palette" title="close">×</a>
       <div id="concepts_list">
       </div>
       <div id="waiting_gif">
       </div>
    </div>
  </div>
</div><!-- ending banner access -->
