
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

{% include "part-html-header.html" %}

<body class="opus quality">
	<div class="attrape-clic"></div>
	<div class="attrape-clic leger"></div>
	<div class="page">

		<!-- Header -->
		{% include "part-header.html" %}

		

		<!-- Main -->
			<main class="main document opusmain">
			   {% block content %}{% endblock content %}
			   {% block opus_menu %}{% endblock opus_menu %}
			</main>
			<!-- fin main -->
		</div>
		<!-- fin div .mainWrapper -->


		<!-- Footer -->
		{% include "part-footer.html" %}


		<!-- fin footer .page-footer -->
			

		<div class="clearer">&nbsp;</div>

	</div>
	<!-- fin div .page -->

	<!-- The Ajax code to show the connexion zone -->
	<script language="Javascript">
		$("#connexionZone").load("{% url 'home:form_login' %}");
	</script>


    {% if opus.mei %} 
	<script type="text/javascript">
	 
	console.log ("Verovio part")
	 var isPlaying = false;
	 var ids = [];
	 var vrvToolkit;
	 var page = 1
	 
	  var vrvOptions = {
		scale : 35,
		pageHeight : 20000,
		adjustPageHeight : 1
    	};

	  var vrvOptions2 = {
				scale : 35,
				breaks: "encoded"
		    	};

	 // Call JS function when the document is loaded
	 document.addEventListener("DOMContentLoaded", (event) => {

	     console.log ("Dom loaded")
	    // Copy the pattern in the page 
	    clonePattern("seepartition", "pattern_score");

		// Display the score with Verovio    
	    var highlights =[];
	        //highlights = {{matching_ids}}
	    
	                   // Keep a variable to the notation div id
                    let notationElement = document.getElementById("verovio");

	    vrvToolkit= displayWithVerovio("{{opus.ref}}", "{{opus.mei.url}}", "verovio", "{}", vrvOptions2);

        // The current page, which will change when playing through the piece
        let currentPage = 1;

        /**
        The handler to start playing the file
       **/
       const playMIDIHandler = function () {
           // Get the MIDI file from the Verovio toolkit
           let base64midi = vrvToolkit.renderToMIDI();
           // Add the data URL prefixes describing the content
           let midiString = 'data:audio/midi;base64,' + base64midi;
           // Pass it to play to MIDIjs
           MIDIjs.play(midiString);
       }

       /**
        The handler to stop playing the file
       **/
       const stopMIDIHandler = function () {
           MIDIjs.stop();
       }


       const midiHightlightingHandler = function (event) {
           // Remove the attribute 'playing' of all notes previously playing
           let playingNotes = document.querySelectorAll('g.note.playing');
           for (let playingNote of playingNotes) playingNote.classList.remove("playing");

           // Get elements at a time in milliseconds (time from the player is in seconds)
           let currentElements = vrvToolkit.getElementsAtTime(event.time * 1000);

           if (currentElements.page == 0) {
        	    console.log ("Page 0")
        	    return;
           }

           if (currentElements.page != currentPage) {
               currentPage = currentElements.page;
               document.getElementById("notation").innerHTML = vrvToolkit.renderToSVG(currentPage);
           }

           // Get all notes playing and set the class
           for (note of currentElements.notes) {
               let noteElement = document.getElementById(note);
               if (noteElement) noteElement.classList.add("playing");
           }
       }

       /**
       Wire up the button to actually work.
   */
   const nextPageHandler = function () {
       currentPage = Math.min(currentPage + 1, vrvToolkit.getPageCount());
       notationElement.innerHTML = vrvToolkit.renderToSVG(currentPage);
   }

   const prevPageHandler = function () {
       currentPage = Math.max(currentPage - 1, 1);
       notationElement.innerHTML = vrvToolkit.renderToSVG(currentPage);
   }

       /**
       Wire up the buttons to actually work.
   */
   document.getElementById("playMIDI").addEventListener("click", playMIDIHandler);
   document.getElementById("stopMIDI").addEventListener("click", stopMIDIHandler);
   document.getElementById("nextPage").addEventListener("click", nextPageHandler);
   document.getElementById("prevPage").addEventListener("click", prevPageHandler);

   /**
   Set the function as message callback
  */
  MIDIjs.player_callback = midiHightlightingHandler;

	       
	 });
	 </script>
	{% endif %}
</body>
</html>
