{% load i18n %}
<footer class="page-footer">
			
	<ul class="partners">
		<li class="deco gauche"></li>
		<li><a href="http://www.agence-nationale-recherche.fr/">
				<img class="logo" src="/static/themes/neumaThemeV2/images/logoAnr.png"
				alt="ANR" />
		</a></li>
		<li><a href="http://www.iremus.cnrs.fr"> <img
				class="logo iremus" src="/static/themes/neumaThemeV2/images/logoIremus.png"
				alt="IReMus" />
		</a></li>
		<li><a href="http://www.cnam.fr"> <img class="logo"
				src="/static/themes/neumaThemeV2/images/logoCnam.png" alt="Cnam" />
		</a></li>
		<li><a href="http"> <img class="logo"
				src="/static/themes/neumaThemeV2/images/logoRism.png" alt="RISM" />
		</a></li>
		<li><a href="http://www.huma-num.fr/"> <img
				class="logo" src="/static/images/humanum.png" width="50"
				alt="Huma-Num" />
		</a></li>
       <li><a href="http://www.verovio.org/"> <img
                class="logo" src="/static/images/verovio.png" width="80"
                alt="Verovio, A music notation engraving library" />
        </a></li>
        <li class="deco droite"></li>
	</ul>

	


	<div class="clearer">&nbsp;</div>
</footer>

<ul class="filAriane">
	<li>Hébergement, stockage et gestion de l'application sur la
		grille de services de la <a href="http://www.huma-num.fr/">TGIR
			Huma-Num</a>
	</li>
</ul>