<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Nicolas Taffin - http://polylogue.com" />
	<meta name="keywords" content="neuma, digital music scores library" />
	<meta name="description" content="neuma, digital music scores library" />

	<title>Neuma V3</title>

	<link rel="shortcut icon" type="image/x-icon"
		href="/static/themes/neumaThemeV2/images/favicon.png" />
	<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

	   
	<!-- Styles -->
	<link rel="stylesheet" href="/static/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/stats.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/midiplayer.css" />
    <link type="text/css" rel="stylesheet" href="/static/helpers/xonomy/xonomy.css"/>
	<link rel="stylesheet" href="/static/themes/neumaThemeV2/css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/themes/neumaThemeV2/css/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="/static/themes/neumaThemeV2/css/PATCH.css" type="text/css" media="all" />


	<!-- Scripts -->			
	<script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/helpers/jquery.serialScroll-1.2.2/jquery.scrollTo-min.js"></script>
	<script type="text/javascript" src="/static/js/soundmanager.js?v=20090616"></script>
	<script type="text/javascript" src="/static/js/piano.js"></script>
	<script type="text/javascript" src="/static/js/pianoCustom.js"></script>
    <script type="text/javascript" src="/static/helpers/xonomy/xonomy.js"></script> 
    <script type="text/javascript" src="/static/js/xonomy_doc_specs.js"></script> 
	<script type="text/javascript" src="/static/themes/neumaThemeV2/scripts/scripts.js"></script>

	<!--  Affichage IIIF -->
	<script src="/static/js/tify.js"></script>
	<link rel="stylesheet" href="/static/css/tify.css">

	<!-- NEUMA JAVASCRIPT FUNCTIONS -->
	
	<!-- tester django si on n'est pas dans la page d'accueil avant de charger ceux là -->

	<script type="text/javascript" src="/static/js/ajaxcalls.js"></script>
	
 	<script type="text/javascript" src="/static/js/verovio.js"></script>
 
    <!-- A JavaScript MIDI player -->
    <script src='https://www.midijs.net/lib/midi.js'></script>
	<!-- fin de test -->

	<script type="text/javascript" src="/static/js/neuma.js"></script>

		
	<!--[if lt IE 9]>
	    <p class="outdated">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a></p>
	<![endif]-->

</head>