/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */

/* debuggage internet explorer : voir l'excellent http://esprit-creatif.blog.mongenie.com/index.php?idblogp=406297 */
html
{
	overflow:auto;
}



.header
{
	left: 0px;
	position: absolute;
	z-index: 10000;
}
.main
{
	padding-top: 100px;
	
}
ul.langSelector
{
	float: right;
}

.platform
{
	padding-left: 140px;
}
a.logo {
	
}

a#connexionLink
{
color: #ECECEC;
}
ul.menu li, ul.menu.menuAbout li
{
	float: left;
}

ul.menu li a, ul.menu.menuAbout li a {
	color: #ECECEC;
	display: block;
	height: 50px;
	width: 117px;
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 10px;
}
.access
{
	position: relative;
}
ul.menuAccess {
	position: static;
	left: 0px;
	top: 0px;
	text-align: left;
	z-index: 9000;
}
ul.menuAccess ul
{
	width: 130px
}
ul.menuAccess ul li a
{
	width: 130px
}
.searchForm
{
	width: 240px;
}

input#expression
{
	height: 48px;
}

.document ul.souscorpus
{
	height: auto;
}

.document ul.souscorpus
{
	height: auto;
}