/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */

/* debuggage internet explorer : voir l'excellent http://esprit-creatif.blog.mongenie.com/index.php?idblogp=406297 */
html
{
	overflow:auto;
}



.slider
{
	height: 320px;
}

.shadow
{

	height: 320px;

}

.document ul.souscorpus
{
	height: auto;
}
