/*        < blank >       */
/*     Nicolas Taffin     */
/*  http://polylogue.com  */
/*  licence CC: BY-NC-SA   */


/****************************************/
/*     	 palette des couleurs			*/							
/****************************************/

/*   du foncé au clair             */

/*   rouge0   color: #9F3723;      */
/*   rouge1   color: #C84E3A;      */
/*   rouge2   color: #E64F3E;      */
/*   rouge3   color: #EA6253;      */
/*   rouge4   color: #EE7467;      */
/*   rouge5   color: #F4978E;      */
/*   rouge6   color: #F8B3AB;      */
/*   rouge7   color: #F8D8D5;      */

/*   noir   color: #000000;       */
/*   gris1   color: #4D4D4C;      */
/*   gris2   color: #575756;      */
/*   gris3   color: #616160;      */
/*   gris4   color: #696968;      */
/*   gris5   color: #737372;      */
/*   gris6   color: #7C7C7B;      */
/*   gris7   color: #969696;      */
/*   gris8   color: #CBCBCB;      */
/*   gris9	 color: #DFDFDF;	  */

/*   bleu   color: #63B8E8;      */
/*   jaune   color: #DDA145;     */
/*   vert   color: #68B556;      */




/****************************************/
/*     	       navigation	            */							
/****************************************/


.menu
{	
	display: block;
	height: auto;
	width: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}
.menu li
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.menu a {

	display: block;
	height: 50px;
	width: 117px;
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 10px;
}

.menu ul a {

	width: 125px;
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 0px 17px;
}


/****************************************/
/*     	       menu About	            */							
/****************************************/

.menuAbout
{
	position: absolute;
	left: 0px;
	text-align: left;
	z-index: 10000;
}
.menuAbout li a
{
	position: absolute;
	z-index: 11000;
	background: transparent url(../images/menuAboutArrows.png) right 0px no-repeat;
}
.menuAbout li a:hover
{
	background: transparent url(../images/menuAboutArrows.png) right -50px no-repeat;
}
.menuAbout li.selected a
{
	background: transparent url(../images/menuAboutArrows.png) right 0px no-repeat;
}
.menuAbout li.selected a:hover
{
	background: transparent url(../images/menuAboutArrows.png) right -100px no-repeat;
}

.menuAbout ul
{
	display: none;
	position: absolute;
	top: 0px;
	left: 120px;
	list-style-type: none;
	z-index: 10000;
}

.menuAbout ul li a, .menuAbout li.selected ul li a
{
	position: relative;
	background: #7C7C7B none right -100px no-repeat;
}
.menuAbout ul li a:hover, .menuAbout li.selected ul li a:hover
{
	position: relative;
	background: #969696 none right -100px no-repeat;
}
.menuAbout li.selected ul li.selected a
{
	display: block;
	background: transparent url(../images/menuAboutArrows.png) right -100px no-repeat;
}
.menuAbout li.selected ul li.selected a:hover
{
	background: transparent url(../images/menuAboutArrows.png) right -150px no-repeat;
}


.menuAbout li.selected ul li
{
	display: none;
}


/****************************************/
/*     	       menu Access	            */							
/****************************************/

.menuAccess
{
	position: absolute;
	left: 0px;
	text-align: left;
	z-index: 9000;
}
.menuAccess li a
{
	position: absolute;
	z-index: 9000;
	background: transparent url(../images/menuAccessArrows.png) right -50px no-repeat;
}
.menuAccess li.selected a
{
	background: transparent url(../images/menuAccessArrows.png) right -50px no-repeat;
}
.menuAccess li a:hover
{
	background: transparent url(../images/menuAccessArrows.png) right 0px no-repeat;
}
.menuAccess li.selected a:hover
{
	background: transparent url(../images/menuAccessArrows.png) right 0px no-repeat;
}


/* 2e niveau */

.menuAccess ul
{
	display: none;
	position: absolute;
	top: 0px;
	left: 120px;
	list-style-type: none;
	z-index: 8000;
}


.menuAccess ul li a, .menuAccess li.selected ul li a
{
	position: relative;
	background: #C84E3A none right -100px no-repeat;
}
.menuAccess ul li a:hover, .menuAccess li.selected ul li a:hover
{
	position: relative;
	background: #E64F3E none right -100px no-repeat;
}
.menuAccess li.selected ul li.selected a
{
	display: block;
	background: transparent url(../images/menuAccessArrows.png) right -150px no-repeat;
}
.menuAccess li.selected ul li.selected a:hover
{
	background: transparent url(../images/menuAccessArrows.png) right -200px no-repeat;
}


.menuAccess li.selected ul li
{
	display: none;
}

/* 3e niveau */

.menuAccess ul ul
{
	display: none;
	position: absolute;
	top: 0px;
	left: 135px;
	list-style-type: none;
	z-index: 7000;
}

.menuAccess li li li
{
	display: none;
}
.menuAccess li li li.selected
{
	display: block;
}

.menuAccess li.selected ul li.selected ul li.selected a
{
	background: transparent url(../images/menuAccessArrows.png) right -200px no-repeat;
}

/* 4e niveau */

.menuAccess ul ul ul
{
	display: none;
	position: absolute;
	top: 0px;
	left: 135px;
	list-style-type: none;
	z-index: 7000;
}

.menuAccess li li li li
{
	display: none;
}
.menuAccess li.selected ul li.selected ul li.selected ul li.selected a
{
	background: transparent url(../images/menuAccessArrows.png) right -250px no-repeat;
}

/* 5e niveau */

.menuAccess ul ul ul ul
{
	display: none;
	position: absolute;
	top: 0px;
	left: 135px;
	list-style-type: none;
	z-index: 7000;
}

.menuAccess li li li li
{
	display: none;
}
.menuAccess li.selected ul li.selected ul li.selected ul li.selected ul li.selected a
{
	background: transparent url(../images/menuAccessArrows.png) right -300px no-repeat;
}


/****************************************/
/*     	        simple tabs    	       	*/
/****************************************/

ul.tabBar
{
	display: block;
	clear: both;
	width: 100%;
	float: left;
	list-style-type: none;
	text-align: left;
	
	background-color: #EEE;
}

ul.tabBar li
{
	clear: none;
	display: block;
	float: left;
	margin-left: 7px;
	height:100%;
	width: auto;
}
/*display: inline-block;*/

ul.tabBar li a
{
	text-decoration: none;
	clear: none;
	display: block;
	width:auto;
	float: left;
	padding: 3px 5px 3px 5px;
	color: white;
	background-color: #AAA;
	-moz-border-radius-topright: 0.7em;
	-webkit-border-top-right-radius: 0.7em;
	border-top-right-radius: 0.7em;
	
	
}
ul.tabBar li a:hover
{
	margin-top: -3px;
	padding: 3px 5px 6px 5px;
	
	color: white;
	background-color: #BBB;
}
ul.tabBar li.selected a
{
	margin-top: -3px;
	padding: 3px 5px 6px 5px;
	
	color: #555;
	background-color: #CCC;
}


/****************************************/
/*     	      menuBar vertical	       	*/
/****************************************/

ul.menuBar.vertical
{
	display: block;
	clear: both;
	width: 100%;
	float: left;
	list-style-type: none;
	text-align: left;
	

}

ul.menuBar.vertical li
{
	display: block;
	width: 100%;
	height:100%;
	margin: 0px;
}


ul.menuBar.vertical li a
{
	text-decoration: none;
	display: block;
	padding: 3px 5px 3px 5px;
	color: #333;
	background-color: #CCC;
	margin:0px;
}
ul.menuBar.vertical li a:hover
{

	padding: 3px 5px 3px 7px;
	
	color: black;
	background-color: #BBB;
}
ul.menuBar.vertical li.selected a
{

	padding: 3px 5px 3px 7px;
	
	color: #555;
	background-color: #AAA;
}


/****************************************/
/*     	    menus deroulants    		*/
/****************************************/


ul.menuBar.horizontal
{
	display: block;
	clear: both;
	width: 100%;
	float: left;
	list-style-type: none;
	text-align: left;
	background-color: #CCC;

}

ul.menuBar.horizontal li
{
	display: block;
	width: auto;
	float: left;
	position: relative;
	line-height: 1.4em;
	height:100%;
}
/*display: inline-block;*/

ul.menuBar.horizontal li a
{
	text-decoration: none;
	display: block;
	padding: 0.4em;
	color: white;
	background-color: #CCC;
	border-right: 1px dotted white;
}
ul.menuBar.horizontal li a:hover
{
	color: white;
	background-color: #BBB;
}
ul.menuBar.horizontal li.selected a
{
	color: #555;
	background-color: #AAA;
}
ul.menuBar.horizontal li ul
{
	display: none;
}





ul.menuBar.horizontal li:hover > ul
{
	display: block;
	background-color: red;
	width: auto;
	position: absolute;
	top: 2.1em;
	left: 0.5em;
	z-index: 100;
}

ul.menuBar.horizontal li ul li
{
	display: block;
	clear: both;
	width: 100%;
	white-space: nowrap;
}
ul.menuBar.horizontal li ul li a
{
	text-decoration: none;
	display: block;
	width: auto;
	padding: 0.4em;
	color: white;
	background-color: #CCC;
	border-top: 1px dotted white;
}
ul.menuBar.horizontal li.selected ul li a
{
	color: white;
	background-color: #CCC;
}
ul.menuBar.horizontal li ul li a:hover
{
	color: white;
	background-color: #BBB;
}

/****************************************/
/*     	        fil d'Ariane  	       	*/
/****************************************/


ul.filAriane, ul.breadCrumb,
.document ul.filAriane, .document ul.breadCrumb {
	display: inline;
	text-align: center;
	list-style-type: none;
	color: #737373;
	padding: 15px 0px 15px 0px;
}

ul.filAriane li, ul.breadCrumb li,
.document ul.filAriane li, .document ul.breadCrumb li
{
	display: inline;
	font-size: 0.8em;
	height: 100%;
	color: #737373;
}
ul.filAriane li:after, ul.breadCrumb li:after,
.document ul.filAriane li:after, .document ul.breadCrumb li:after
{
	content:" | "; 
}
ul.filAriane li:last-child:after, ul.breadCrumb li:last-child:after, ul.filAriane li.last:after, ul.breadCrumb li.last:after, .document ul.filAriane li.last:after, .document ul.breadCrumb li.last:after
{
	content:""; 
}
ul.filAriane li a, ul.breadCrumb li a,
.document ul.filAriane li a, .document ul.breadCrumb li a
{
	color: #737373;
	text-decoration: none;
	padding: 0px 3px 0px 3px;
}


ul.filAriane li a:hover, ul.breadCrumb li a:hover,
.document ul.filAriane li a:hover, .document ul.breadCrumb li a:hover {
	color: #E73D2B;
	text-decoration: underline;
}
